<h1>Editing customer</h1>

<%= render "form", customer: @customer %>

<br>

<div class="d-flex align-items-center mt-3">
  <%= link_to "Show this customer", @customer, class: 'btn custom-button me-2' %>
  <%= link_to "Back to customers", customers_path, class: 'btn custom-button me-2' %>
</div>
