/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";

.my_alert {
  color: red;
}

:root {
  --bs-body-bg: #e1e5ea;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('Ubuntu-Regular.ttf') ;  
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('Ubuntu-Italic.ttf')  
}
@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('Ubuntu-BoldItalic.ttf')  
}
@font-face {
  font-family: 'GaMaamli-Regular';
  src: url('GaMaamli-Regular.ttf')  
}
.custom-banner {
  background-image: url('/assets/pic.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  color: rgb(15, 15, 15);
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-family: 'GaMaamli-Regular'; 
}
.navbar-custom {
  background-color: #cc427e;
}
.body-content {
  margin-left: 5rem;  
  margin-right: 5rem;
}
.custom-button  {
  background-color: #98d9f3;
  &:hover {
    background-color: darken(#55b3df, 5%);     
  }
}

.custom-delete {
  background-color: #f7a1c6;  
  &:hover {
    background-color: darken(#d8518b, 5%);
    
  }
}